html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;            
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

#tree {
  width: 100%;
  height: 100%;
}

.blue .box-node{
  fill: #303C4D;
}

.blue .box-footer{
  fill: #2D353F;
}

.buttons{
  background-color: #2E2E2E;
}


.buttons button{
  font-size: 32px;
}