html,
body {
    font-family: Helvetica;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#tree {
    width: 100%;
    height: 100%;
}

.t{
    border: 2px solid #D9D9D9; border-radius: 20px;
}

.t-img{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #BED600;
}

.t-name{
    padding: 10px 10px 10px 30px;
}


.t-val{
    padding: 10px 30px 10px 10px;
}
